@import "../../style-config/mixins.scss",
"../../style-config/variable.scss";



.intro-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-top: 0;
    // border: 2px solid  rgb(37, 253, 116);
    margin-top: 60px;
    
    @include mobile{
        padding-top: 75px; 
        align-items: flex-start;
        
    }
    .layout {
        display: flex;
        flex-direction: row;
        // border: 2px solid rgb(0, 132, 255);
            margin-top: -10px;
            height: 100%;
            @include mobile{
                margin-top: -30px;
                flex-direction: column;
            }
            .left-col {
                // border: 2px solid red;
                width: 70%;
                @include mobile{
                    width: 100%;
                    
                }
                .title {
                    display: flex;
                    flex-direction: column;
                    color: $white;
                    text-align: left;
                    @include mobile{
                        text-align: center;
                        margin-top: -40px;
                    }
                    .small-text {
                        @include typography(30px, 500, 30px);
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        @include mobile{
                            justify-content: center;
                            display: flex;
                            align-items: center;
                            @include typography(20px, 400, 30px);
                        }
                        .icon {
                            margin-left: 10px;
                        }
                    }
                    .big-text {
                        @include typography(62px, 900, 50px);
                        @include mobile{
                            @include typography(42px, 800, 50px);
                        }
                    }
                }
                .para {
                    color: $white;
                    @include typography(18px, 200, 22px);
                    margin: 35px 0;
                    width: 100%;
                    @include mobile{
                        @include typography(15px, 200, 20px);
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        margin-top: 5px;
                    }
                }
                .button-box{
                    // border: 2px solid red;
                    width: 46%;
                    display: flex;
                    margin-top: -25px;
                    justify-content: space-between;
                    @include mobile{
                        width: 100%;
                        gap: 10px;
                    }
                  
                    .btn{
                        // background:white;
                        border:1px solid black;
                        border-radius: 20px;
                        width: 140px;
                        height: 40px;
                        font-size: 15px;
                        font-weight: 300;
                        cursor: pointer;
                        a{
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                          
                        }
                        @include mobile{
                            // border: 2px solid red;
                        }
                        &:hover{
                            background-image: linear-gradient( 135deg,  #9c99ff 10%, #82ffee 100%);          
                                        // color: rgb(255, 255, 255);
                                        border: 1.5px solid black;
                        }
                       
                    }
                    @include mobile{
                        justify-content: center;
                    }
                }
            }
            .right-col {
                width: 55%;
                display: flex;
                align-items: flex-end;
                position: relative;
                // border: 2px solid red;
                @include mobile {
                    width: 100%;
                    justify-content: center;
                }
                img {
                    width: 100%;
                    // border: 2px solid  gray;
                    // display: block;
                    margin-top: -90px;
                    // margin-left: 50px;
                    filter: drop-shadow(0 0 0.75rem rgb(30, 29, 29));
                    @include mobile {
                        width: 80%;
                    margin-top: 58px;
                      margin-right: 20px;
                 
                    }
                }
            }
        }
    }







